@tailwind base;
@tailwind components;
@tailwind utilities;

.inputLoginForm:focus{
  outline: none;
  border-color: rgb(0, 81, 255);
}

.labelInput {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.2s, transform 0.3s;
  color:rgb(0, 81, 255);
}

.inputLoginForm:focus + .labelInput {
  opacity: 1;
  transform: translateY(0%);
}

.has-content{
  border-color: rgb(164, 191, 250);
}

.inputLoginForm:focus + .labelInput,
.inputLoginForm.has-content + .labelInput {
  opacity: 1;
  transform: translateY(0%);
}

.primary-color {
  background-color: #012CFD;
}

.border-primary-color{
  border-color: #012CFD;
}

.primary-color-text{
  color:#012CFD;
}
.secondary-color-text{
  color:white;
}
