.primary-color {
  background-color: #012CFD;
}

.primary-color-border {
  border: #012CFD 1px solid;
}

.container{
  color:red
}
.primary-color-text{
  color:#012CFD;
}


.icon-hide{
  display: none;
}

.list-item{
  padding: 15px 25px 15px 25px;
}

.list-item:hover {
  background-color: blue;
  border-radius: 30px;
}

.list-item:hover .text-color {
  color: white;
}
/* Estilos para los iconos dentro del li con la clase unique-list-item */
.list-item:hover .icon {
  display: none; /* Oculta el icono negro */
}

.list-item:hover .icon-hide {
  display: block; /* Muestra el icono blanco */
}

.dropdown {
  position: relative;
}

@keyframes dropdown-animation{
  from{
    height:0;
  }

  to{
    height:140px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
  height: 0;
}

/* Mostrar el contenido del dropdown cuando se hace hover sobre el li */
.list-item:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: dropdown-animation 0.3s forwards; 
}


.iconsContainer {
  display: flex;
  flex-wrap: wrap;
}

.iconButton {
  width: 40px; /* Ajusta el tamaño del botón según tus necesidades */
  height: 40px; /* Ajusta el tamaño del botón según tus necesidades */
  margin: 5px;
  border: none;
  background-image: url('/icons_knowhow.svg');
  background-size: 120px; /* Ajusta el tamaño del sprite según tus necesidades */
  background-repeat: no-repeat;
}

/* Define la posición del icono en el sprite */
.iconButton:nth-child(1) {
  background-position: 0px 0px; /* Posición del primer icono */
}

.iconButton:nth-child(2) {
  background-position: -40px 0px; /* Posición del segundo icono */
}
