@tailwind base;
@tailwind components;
@tailwind utilities;

.inputLoginForm:focus{
  outline: none;
  border-color: rgb(0, 81, 255);
}

.labelInput {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.2s, transform 0.3s;
  color:rgb(0, 81, 255);
}

.inputLoginForm:focus + .labelInput {
  opacity: 1;
  transform: translateY(0%);
}

.has-content{
  border-color: rgb(179, 203, 255);
}

.inputLoginForm:focus + .labelInput,
.inputLoginForm.has-content + .labelInput {
  opacity: 1;
  transform: translateY(0%);
}